extends layouts/main-layout.pug
    
block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src="https://books.google.com.mx/books/content?id=BKRjDwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&imgtk=AFLRE70vVCtE-UI4Sbc839iU1Ccb0XfqPNcAFGAd5f8u6OcBOhPq2ZpIqHcnttZluEVOkVRZRVwp6HXyeeMPYrqArEJ5zBIvY_NpcPjBHD_z5VsJbRgkPqIzCc9_CmqaAczRf1Bjjntt", alt="A Book")
                        div.card__content
                            h2.product__price $19.99
                            p.product__description A very interesting book about so many even more interesting things!
                        .card__actions
                            button.btn Add to Cart
        else
            h1 No Products
